In [ ]:
# MP_work_notebook

In [1]:
from alpaca.data.historical import CryptoHistoricalDataClient

# No keys required for crypto data
client = CryptoHistoricalDataClient()

In [6]:
from alpaca.data.requests import CryptoBarsRequest
from alpaca.data.timeframe import TimeFrame

# Creating request object
request_params = CryptoBarsRequest(
  symbol_or_symbols=["BTC/USD"],
  timeframe=TimeFrame.Day,
  start="2023-09-01",
  end="2024-09-07")

In [7]:
# Retrieve daily bars for Bitcoin in a DataFrame and printing it
btc_bars = client.get_crypto_bars(request_params)

# Convert to dataframe
btc_bars.df

                                        open        high        low  \
symbol  timestamp
BTC/USD 2023-09-01 05:00:00+00:00  26019.870  26135.6185  25324.562
        2023-09-02 05:00:00+00:00  25767.850  25970.3015  25754.700
        2023-09-03 05:00:00+00:00  25875.565  26115.1000  25812.000
        2023-09-04 05:00:00+00:00  25985.120  26007.3580  25550.500
        2023-09-05 05:00:00+00:00  25689.650  25871.4320  25631.438
...                                      ...         ...        ...
        2024-09-02 05:00:00+00:00  57473.800  59803.4500  57396.660
        2024-09-03 05:00:00+00:00  59080.123  59320.2050  55691.014
        2024-09-04 05:00:00+00:00  56689.123  58533.0750  56187.600
        2024-09-05 05:00:00+00:00  57187.797  57267.7900  55681.931
        2024-09-06 05:00:00+00:00  56638.500  56976.4500  52580.560

                                        close    volume  trade_count  \
symbol  timestamp
BTC/USD 2023-09-01 05:00:00+00:00  25767.9500  2.753695        155.0
        2023-09-02 05:00:00+00:00  25871.4100  4.287266        161.0
        2023-09-03 05:00:00+00:00  25975.1160  5.363935        259.0
        2023-09-04 05:00:00+00:00  25688.0500  3.871084        204.0
        2023-09-05 05:00:00+00:00  25745.9300  6.682911        296.0
...                                       ...       ...          ...
        2024-09-02 05:00:00+00:00  59052.0265  0.370579         64.0
        2024-09-03 05:00:00+00:00  56659.8115  5.096164        160.0
        2024-09-04 05:00:00+00:00  57216.1885  2.616058        158.0
        2024-09-05 05:00:00+00:00  56632.7325  0.818696        142.0
        2024-09-06 05:00:00+00:00  54044.1175  5.045418        278.0

                                           vwap
symbol  timestamp
BTC/USD 2023-09-01 05:00:00+00:00  25644.728085
        2023-09-02 05:00:00+00:00  25833.532323
        2023-09-03 05:00:00+00:00  25922.986604
        2023-09-04 05:00:00+00:00  25860.731815
        2023-09-05 05:00:00+00:00  25732.186509
...                                         ...
        2024-09-02 05:00:00+00:00  58465.241113
        2024-09-03 05:00:00+00:00  57243.296841
        2024-09-04 05:00:00+00:00  56652.154248
        2024-09-05 05:00:00+00:00  56450.003849
        2024-09-06 05:00:00+00:00  54133.919527

[372 rows x 7 columns]

In [9]:
request_params = CryptoBarsRequest(
  symbol_or_symbols=["ETH/USD"],
  timeframe=TimeFrame.Day,
  start="2023-09-01",
  end="2024-09-07")

In [10]:
# Retrieve daily bars for Etherium in a DataFrame and printing it
eth_bars = client.get_crypto_bars(request_params)

# Convert to dataframe
eth_bars.df

                                        open       high        low      close  \
symbol  timestamp
ETH/USD 2023-09-01 05:00:00+00:00  1649.9000  1651.1200  1602.5115  1631.3475
        2023-09-02 05:00:00+00:00  1631.0790  1644.4840  1629.2455  1635.1150
        2023-09-03 05:00:00+00:00  1635.3380  1646.0635  1625.7890  1638.4100
        2023-09-04 05:00:00+00:00  1638.2340  1640.9545  1610.0350  1621.8000
        2023-09-05 05:00:00+00:00  1621.8345  1645.9125  1619.9505  1630.1000
...                                      ...        ...        ...        ...
        2024-09-02 05:00:00+00:00  2438.1550  2561.9700  2433.7025  2515.4300
        2024-09-03 05:00:00+00:00  2516.8390  2523.9850  2312.8350  2376.4150
        2024-09-04 05:00:00+00:00  2374.5050  2487.4850  2363.5965  2414.7245
        2024-09-05 05:00:00+00:00  2413.7500  2416.3730  2348.7535  2387.1765
        2024-09-06 05:00:00+00:00  2386.6420  2404.9470  2150.9035  2246.3215

                                      volume  trade_count         vwap
symbol  timestamp
ETH/USD 2023-09-01 05:00:00+00:00  21.660200         32.0  1618.548924
        2023-09-02 05:00:00+00:00   4.421608         12.0  1633.693647
        2023-09-03 05:00:00+00:00   6.272756         11.0  1634.494377
        2023-09-04 05:00:00+00:00  11.803990         92.0  1634.490968
        2023-09-05 05:00:00+00:00   4.013584         28.0  1634.439160
...                                      ...          ...          ...
        2024-09-02 05:00:00+00:00  11.006654         34.0  2445.510841
        2024-09-03 05:00:00+00:00  47.350061         72.0  2430.408477
        2024-09-04 05:00:00+00:00  53.181289         50.0  2419.041750
        2024-09-05 05:00:00+00:00   7.983776         69.0  2381.809768
        2024-09-06 05:00:00+00:00  44.756517        127.0  2271.649308

[372 rows x 7 columns]

In [11]:
request_params = CryptoBarsRequest(
  symbol_or_symbols=["DOGE/USD"],
  timeframe=TimeFrame.Day,
  start="2023-09-01",
  end="2024-09-07")

In [12]:
# Retrieve daily bars for Dogecoin in a DataFrame and printing it
doge_bars = client.get_crypto_bars(request_params)

# Convert to dataframe
doge_bars.df

                                        open      high       low     close  \
symbol   timestamp
DOGE/USD 2023-09-01 05:00:00+00:00  0.063767  0.064196  0.062402  0.063870
         2023-09-02 05:00:00+00:00  0.063859  0.064958  0.062758  0.063487
         2023-09-03 05:00:00+00:00  0.063516  0.063820  0.062790  0.063392
         2023-09-04 05:00:00+00:00  0.063389  0.063531  0.062159  0.063465
         2023-09-05 05:00:00+00:00  0.063490  0.064564  0.063377  0.063875
...                                      ...       ...       ...       ...
         2024-09-02 05:00:00+00:00  0.094183  0.100777  0.094130  0.099171
         2024-09-03 05:00:00+00:00  0.099140  0.100500  0.092022  0.095877
         2024-09-04 05:00:00+00:00  0.095769  0.099475  0.094501  0.096860
         2024-09-05 05:00:00+00:00  0.096794  0.099386  0.096295  0.098492
         2024-09-06 05:00:00+00:00  0.098440  0.098910  0.088967  0.092460

                                           volume  trade_count      vwap
symbol   timestamp
DOGE/USD 2023-09-01 05:00:00+00:00   11771.512796         16.0  0.063566
         2023-09-02 05:00:00+00:00   10000.600000          3.0  0.063430
         2023-09-03 05:00:00+00:00   21892.354880          8.0  0.063369
         2023-09-04 05:00:00+00:00    1755.207601         26.0  0.063201
         2023-09-05 05:00:00+00:00   15368.580094         16.0  0.063941
...                                           ...          ...       ...
         2024-09-02 05:00:00+00:00  236586.571124         29.0  0.099701
         2024-09-03 05:00:00+00:00   25227.515510         26.0  0.096683
         2024-09-04 05:00:00+00:00   32228.482848         22.0  0.096011
         2024-09-05 05:00:00+00:00   14657.251937         27.0  0.098316
         2024-09-06 05:00:00+00:00   28006.209333         31.0  0.092581

[372 rows x 7 columns]

In [21]:
request_params = CryptoBarsRequest(
  symbol_or_symbols=["LTC/USD"],
  timeframe=TimeFrame.Day,
  start="2023-09-01",
  end="2024-09-07")

In [22]:
# Retrieve daily bars for Litecoin in a DataFrame and printing it
ltc_bars = client.get_crypto_bars(request_params)

# Convert to dataframe
ltc_bars.df

                                       open      high       low     close  \
symbol  timestamp
LTC/USD 2023-09-01 05:00:00+00:00  63.91195  64.14615  61.92240  63.43300
        2023-09-02 05:00:00+00:00  63.38000  64.84000  63.20870  64.52800
        2023-09-03 05:00:00+00:00  64.55410  65.00430  63.55915  64.43520
        2023-09-04 05:00:00+00:00  64.45195  64.49105  63.05000  63.28450
        2023-09-05 05:00:00+00:00  63.23240  63.54000  62.54400  62.98350
...                                     ...       ...       ...       ...
        2024-09-02 05:00:00+00:00  63.09100  66.27200  62.59100  65.76985
        2024-09-03 05:00:00+00:00  65.75170  66.30700  62.18500  65.78500
        2024-09-04 05:00:00+00:00  65.76600  66.98650  64.12250  65.40995
        2024-09-05 05:00:00+00:00  65.34500  68.49930  64.41500  66.34450
        2024-09-06 05:00:00+00:00  66.25400  66.25400  61.18850  63.90055

                                       volume  trade_count       vwap
symbol  timestamp
LTC/USD 2023-09-01 05:00:00+00:00   62.018267          6.0  63.024949
        2023-09-02 05:00:00+00:00   76.824506          5.0  63.288974
        2023-09-03 05:00:00+00:00    3.000000          1.0  64.050000
        2023-09-04 05:00:00+00:00    1.014673          2.0  63.523203
        2023-09-05 05:00:00+00:00   30.397815          7.0  63.062114
...                                       ...          ...        ...
        2024-09-02 05:00:00+00:00   16.324382         12.0  65.923997
        2024-09-03 05:00:00+00:00    6.805679         20.0  65.799070
        2024-09-04 05:00:00+00:00   28.797788         17.0  64.958421
        2024-09-05 05:00:00+00:00  143.918686         33.0  67.495107
        2024-09-06 05:00:00+00:00    4.592779         20.0  63.828826

[372 rows x 7 columns]